<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2018.
  ~ 版块归Github.FortuneDream 所有
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dell.fortune.main">

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/core_ic_launcher"
        android:label="@string/core_app_name"
        android:roundIcon="@mipmap/core_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/core_AppTheme"
        tools:replace="android:theme">

    </application>

</manifest>